@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212529;
    font-family: 'Roboto', sans-serif;
}


.centrar {
    text-align: center;
    padding: 1rem;
    font-size: small;

    @media screen and (min-width: 576px) {
        font-size: large;
    }

    @media screen and (min-width: 900px) {
        font-size: x-large;
    }
}

.verCarrito {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 2%;

    @media screen and (min-width: 768px) {
        width: 100%;
        margin-left: auto !important;
    }
}

table {
    display: table;
}

.navbar {
    background: rgb(7, 7, 84);
    background: linear-gradient(120deg, rgba(7, 7, 84, 1) 21%, rgba(47, 53, 203, 1) 100%);
}

.boton-delete {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    .button-delete {
        background-color: rgb(0, 0, 108) !important;
        border: solid 1px white;

        &:hover {
            background-color: rgb(24, 120, 205) !important;
        }
    }

    .boton-deleteimg {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        justify-content: center;
    }
}

.button {
    background-color: darkblue !important;
    color: white !important;
    border: 2px solid white !important;
}

.swal2-html-container {
    font-size: large !important;
}

.swal2-styled {
    display: flex;
    flex-direction: column;
    justify-content: center;
}