@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212529;
    font-family: 'Roboto', sans-serif;
}

.centrar{
    text-align: center;
}

td.centrar p{
    font-size: large;
    color: red;
    font-weight: 800;
    cursor: pointer;
}

.verCarrito{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

