@import "generales";
@import "tarjetas";

#titulo, #parrafo{
    color: whitesmoke;
    text-align: center;
}

#parrafo{
    font-size: x-large;
}

body{
    color: whitesmoke !important;
    // font-size: 1em;
    font-weight: auto;
    letter-spacing: auto;
    line-height: auto;
}
